/*selector etiqueta*/
section{
	background-repeat: valor;
}

/*selector descendente*/
article h3{
	color: green; /*color de la letra */
}

/*selectores de clase*/
.clase{/*cuando se desea reutilizar los estilso pra vairos elementos*/
	..............:;
}

/*selectores por id*/
#portada{
	...........;
}


.titulo{
	font-size: 17px; (tamaño de fuetne px o em)
	background: rgba(rojo,verde,azul,canalAlpha) (puende ser #exa, rgb(), rgba(), nombre);
	background-image: url('ruta'); (agregar una imagen como fondo);
	color: white; (es el color de la letra);
	display: inline-block; (en linea y en bloque toma tamaño dle contenido del elemento)
	border: 2px solid red;(tamaño, tipo, color);
	padding: 10px (margen interno manillas relos desde arriba)
	float: right; los elementos se hacen flotantes y pueden ir a cualqueir lado
	overflow: hidden; hace que se oculte lo q se desborada por float
	float: rompe el modelo de caja;
	position: relative absolute fixed;(relative: relativoa un elemento; absolute: se ubica ahsta su elemento padre con posicion relativa; fixed: el elemento se mueve incluso cuando se hace scroll; )
	border-radius: 10px 10px 10px 10px;(manijas del reloj y si es cuadrado a redondon con 50%);
	none (permite desacrivar una propiedad);
	text-decoration: none; (que no este subrayado)

	.padre{
		display: flex;
		justify-content: flex-start; (se alinena desde la izquierda)
		justify-content: flex-end; (elemento se alineen dese la izquierta)
		justify-content: center; (para que se centren)
		justify-content: space-around; (mira tanto los margenes izquierdo y derechos y lo ahce del lmismo tamaño)
		justify-content: space-between; (entre 2 elementos es el mismo tamaño)
		flex-wrap: nowrap; (para no mandar el hijo abajo)
		flex-wrap: wrap; (para mandar los hijos abajo)
		flex-direction: row; ( pone los elementos en fila)
		align-items: center; (para central el contenido verticalmente)
		flex-direction: column; (los pone fle en forma vertical)
		justify-content: center;los justifica y centra el contenido de acuerdo a la direccion del flex;

	}
}

Siempre usar flexbox

.col1, .col2{ //para dar estilo para dos clases
	border-collapse: hace que los bordes se una;
}

.menu li:after{ despues de ese elemento colocar 
	content: '123';
	background-size: cover; (pra qeu cubra todo el backgourd ocn la mejor distribucion);
	cursor: pointer; q cuando pase seactive par dar click
	!important (es para que se sobreponga a cuaquier estilo)


}
 
input, textarea{
	outline: 0; /la linea cuan se lselecciona un input 
}

input:facus, textarea:focus{ // cuando se hace focus en un input
	b
}


cambiando color
.post:hover{ //accion que se realiza cuando se hace hover sobre el elemento
	transition: tiempo que se demore en cambiar a otro estado;
}

.post:hover img{//afectar a los hijos q se hace jover
	tranform: scale(1.5); //para modifica un emento
}

se peuden podificar las transiciones de los hijso y poner el tiempo que se deseee

transicion cambio de atributos en un intervalo de teimpo

.transicion{
	duration aceleracion propiedades
}

.transicion{
	transition-duration: 3s; (duraicon del a transicion)
	transition-property: opacity()
	transition	
	font-weight: 600; (cambiar peso de la fuetn solo vale numericos)

}

.rotacion:hover{
	transform: rotate(350deg); (se recibe en grados)
	transform: scale(2);(la escala va de 0-1)
	transform: skew(90deg);(igual grados)
	transform: translateX(50px);(afecta al eje x)
	transform: translate3d(50px, 20px, 50px); si pude mover el elemento en 3d
	perspective: 1000px; (se da fondo de profunidad);
	transform: rotate() scale() ;
}